{% extends "layout.html" %}
{% block title %}
    Artwork Showpage from Search
{% endblock %}

{% block main %}
    <img class="showpage-image" src="{{url}}" alt="{{alt_text}}">
    <div>
        <input name="page_number" type="hidden" value="{{page_number}}">
        <input name="search_term" type="hidden" value="{{search_term}}">
        <p class="artwork-showpage-title-and-date"> {{ title }} ({{ date_info }})</p>
        <p>{{artist_info}}</p>
        <p class="link-to-art-institute"><a href="{{image_url}}" target="_blank"> View on the Art Institute of Chicago Website </a></p>
    </div>

    <form action="/artwork_showpage" method="post">
        <input name="page_number" type="hidden" value="{{page_number}}">
        <input name="search_term" type="hidden" value="{{search_term}}">
        <input name="add_to_collection" type="hidden" value="{{artwork_id}}">

        <select name="collection-select">
            <option disabled selected>{{Collection}}</option>
            <option value={{search_id}} selected>{{search_term}}</option>
            {% for collection in collections %}
                <option value="{{collection['id']}}">{{ collection['title'] }}</option>
            {% endfor %}
        </select>
        <button type="submit">Add to Collection</button>
    </form>

    <form action="/search_results" method="post">
        <div >
            <input name="page_number" type="hidden" value="{{page_number}}">
            <input name="search_term" type="hidden" value="{{search_term}}">
            <p><button class="back-button" type="submit"> Return to Search Results </button></p>
        </div>
    </form>
{% endblock %}