{% extends "layout.html" %}
{% block title %}
    Home Page
{% endblock %}

{% block main %}
   <h1 class="header-for-welcome-message"> CHICAGO ARTWORK COLLECTION APP</h1>
   <p>
    <p class="welcome-page-message">This is an application that allows you to search through the collections at the Art Institute of Chicago.
       It fetches data available via their public API for works that are in the public domain.
       You can save images and information about particular works of art according to categories that you create yourself.
       I envisage this being useful for presentations, research, teaching, or just for your own enjoyment.
      </p>
    <p class="welcome-page-message">All information and images are sourced from the Art Institute of Chicago.
      If your search returns a large set of data, you will only get the first one hundred pages.
       If you would like to download any of the images, there is a link to the Art Institute's website on the artwork's show page where you can do so.</p>
    <p class="welcome-page-message">I hope you enjoy perusing the art!</p>
    </p>
{% endblock %}